.hand-cursor{
	-fx-cursor: hand;
}

.custom-txtField{
	-fx-background-color: rgb(248, 244, 225);
}

.custom-btnSubmit{
	-fx-background-color: rgb(236, 177, 118);
}
.btnSubmit:hover{
	-fx-background-color: rgb(166, 123, 91);
}

.progress-bar:indeterminate{
    -fx-box-border: rgb(166, 123, 91);
}



.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        green;
    -fx-padding: 0.1916667em;
}